<%- include header%>

<% if ( user && (user.name == post.name)) {%>
<span><a href="/edit/<%= post.name %>/<%= post.title %>/<%= post.time.day %>" class="edit">Edit</a></span>
<span><a href="/remove/<%= post.name %>/<%= post.title %>/<%= post.time.day %>" class="edit">Remove</a></span>
<%}%>

<p class="info">
	Author: <a href="/u/<%= post.name %>"><%= post.name %></a> 
	Date: <%= post.time.minute %>
	<% post.tags.forEach(function (tag, index) { %>
		<% if (tag) { %>
			<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
		<% } %>
	<% }); %>
</p>
<p><%- post.content%></p>

<p>Views: <%= post.viewsCount%> | Comments: <%= post.comments.length%></p>

<% if (user) { %>
	<%- include comment%>
<% } %>

<%- include footer%>