<form method="post">
	<input type="hidden" name="name" value="<%= user.name%>" />
	<input type="hidden" name="title" value="<%= post.title%>" />
	<input type="hidden" name="day" value="<%= post.time.day%>" />
	<textarea name="content" cols="100" rows="10"></textarea> <br />
	<input type="submit" value="Comment" />
</form>

<% post.comments.forEach(function(comment) {%>
	<div class="comment">
		<a href="/u/<%= post.name %>"><img src="<%= post.avatar %>" class="c-avatar" /></a>
		<p><a href="/u/<%= comment.name %>"><%= comment.name %></a>
		<span class="info"><%= comment.time %></span></p>
		<p><%- comment.content%></p>
	</div>
<%});%>
