<%- include header %>
<% posts.forEach(function (post, index) { %>
  <p><h2><a href="/u/<%= post.name %>/<%= post.title%>/<%= post.time.day %>"><%= post.title %></a></h2></p>
	<p class="info">
		Author: <a href="/u/<%= post.name %>"><%= post.name %></a> |
		Date: <%= post.time.minute %>
		<% post.tags.forEach(function (tag, index) { %>
			<% if (tag) { %>
				<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
			<% } %>
		<% }); %>
	</p>
<% }) %>
<%- include footer %>