<%- include header %>
<div class="container">
	<header>
		<%= title %>
	</header>
	<% tags.forEach(function (tag, index) { %>
		<% if (tag) {%>
		  <a class="tag tags" href="/tags/<%= tag %>"><%= tag %></a>
		<% } %>
	<% }) %>
</div>
<%- include footer %>