<%- include header%>
<div class="container">
	<header>
		<%= title %>
	</header>
	<% posts.forEach(function(post, index) { %>
	<div class="post-item">
		<a href="/u/<%= post.name %>" class="p-avatar"><img src="<%= post.avatar %>" /></a>
		<div class="post-info">
			<h2>
				<a href="/u/<%= post.name %>/<%= post.title%>/<%= post.time.day %>?view=true"><%= post.title %>
				</a>
			</h2>
			<p class="info">
				Author: <a href="/u/<%= post.name %>"><%= post.name %></a> |
				Date: <%= moment(moment.utc(post.time.minute).toDate()).format("YYYY-MM-DD HH:mm") %> |
				Tags:
				<% post.tags.forEach(function (tag, index) { %>
					<% if (tag) { %>
						<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
					<% } %>
				<% }); %>
			</p>
		</div>
		<div class="post-content"><%- post.content%></div>
	</div>
	<% }); %>
	<% if (posts.length > 0) {%>
		<%- include paging %>
	<% } %>	
</div>
<%- include footer%>